<a class="filter-shade" href="#" data-toggle-filters></a>
<div class="filters{% if section.settings.enable_filtering == false or filter_context.filters == empty %} mobile-only{% endif %}" data-auto-apply-hide-unavailable="{{ section.settings.auto_apply_hide_unavailable }}">
  <div class="filters__inner{% if section.settings.enable_sticky_filter %} sticky-content-container{% endif %}">
    <div class="filters__heading">
      <h4 class="filters__heading-text">{{ 'collections.filtering.heading' | t }}</h4>
      <a class="filters__close" href="#" data-toggle-filters>{% render 'svg-x', stroke_width: 1.3 %}</a>
    </div>

    {%- if section.settings.enable_filtering and filter_context.filters != empty -%}
      {% capture active_filters_html %}
        <div class="filter-group filter-group--applied">
          <div class="filter-group__heading">
            <div class="filter-group__heading__text">{{ 'collections.filtering.applied_filters' | t }}</div>
          </div>
          <div class="filter-group__items">
            {%- for filter in filter_context.filters -%}
              {%- for value in filter.active_values -%}
                {%- if value.param_name != 'filter.v.availability' -%}
                  <a class="filter-group__applied-item" href="{{ value.url_to_remove }}">
                    <span class="filter-group__applied-item__text">
                      {% if filter.type == 'boolean' %}
                        {{ filter.label | escape  }}:
                      {% endif %}
                      {{ value.label | escape }}
                    </span>
                    <span class="filter-group__applied-item__icon">{% render 'svg-x', stroke_width: 1.3 %}</span>
                  </a>
                {%- endif -%}
              {%- endfor -%}

              {%- if filter.type == 'price_range' -%}
                {%- if filter.min_value.value != nil or filter.max_value.value != nil -%}
                  <a class="filter-group__applied-item" href="{{ filter.url_to_remove }}">
                    <span class="filter-group__applied-item__text">
                      {% if filter.min_value.value %}{{ filter.min_value.value | money }}{%- else -%}{{ 0 | money }}{% endif %} - {% if filter.max_value.value %}{{ filter.max_value.value | money }}{%- else -%}{{ filter.range_max | money }}{% endif %}
                    </span>
                    <span class="filter-group__applied-item__icon">{% render 'svg-x', stroke_width: 1.3 %}</span>
                  </a>
                {%- endif -%}
              {%- endif -%}
            {%- endfor -%}
            <div class="filter-group__clear-row">
              <a class="filter-group__clear-link" href="{{ clear_url }}">{{ 'collections.filtering.clear_all' | t }}</a>
            </div>
          </div>
        </div>
      {% endcapture %}
      {%- if active_filters_html contains 'filter-group__applied-item' -%}
        {{ active_filters_html }}
      {%- endif -%}
    {%- endif -%}

    <form id="CollectionFilterForm">
      {%- comment -%}
        Preserve automatic vendor/type collections & sorting
      {%- endcomment -%}
      {%- if filter_context.current_vendor or filter_context.current_type -%}
        <input type="hidden" name="q" value="{{ filter_context.current_vendor }}{{ filter_context.current_type }}">
      {%- endif -%}
      {%- comment -%}
        Preserve search terms
      {%- endcomment -%}
      {%- if filter_context.terms -%}
        <input type="hidden" name="q" value="{{ filter_context.terms | escape }}">
        <input type="hidden" name="type" value="{{ settings.search_type }}" />
        <input type="hidden" name="options[prefix]" value="last" />
      {%- endif -%}

      {%- if section.settings.enable_filtering -%}
        {%- for filter in filter_context.filters -%}
          {%- if filter.param_name == 'filter.v.availability' -%}
            <div class="filter-group filter-group--availability">
              <div class="filter-toggle filter-toggle--inline">
                <span class="filter-toggle__group-label">{{ 'collections.filtering.out_of_stock_label' | t }}</span>
                <div class="filter-toggle__options">
                  <label class="filter-toggle__input-label">
                    <input class="filter-toggle__input"
                      id="Filter-{{ filter.param_name }}-1"
                      type="radio"
                      name="{{ filter.param_name }}"
                      value=""
                      {% if filter.active_values == empty %}checked{% endif %}>
                    <span class="filter-toggle__input-label-text">{{ 'collections.filtering.show_label' | t }}</span>
                  </label>
                  <label class="filter-toggle__input-label">
                    <input class="filter-toggle__input"
                      id="Filter-{{ filter.param_name }}-2"
                      type="radio"
                      name="{{ filter.param_name }}"
                      value="1"
                      {% if filter.active_values != empty and filter.active_values.first.value == '1' %}checked{% endif %}>
                      <span class="filter-toggle__input-label-text">{{ 'collections.filtering.hide_label' | t }}</span>
                  </label>
                </div>
              </div>
            </div>

          {%- elsif filter.type == 'boolean' or filter.type == 'list' or filter.type == 'price_range' -%}
            {%- liquid
              if filter.type == 'price_range'
                assign filter_values_to_show_count = 1
              elsif section.settings.show_disabled_filters
                assign filter_values_to_show_count = filter.values.size
              else
                assign filter_values_to_show_count = 0
                for value in filter.values
                  if value.count > 0 or value.active
                    assign filter_values_to_show_count = filter_values_to_show_count | plus: 1
                  endif
                endfor
              endif

              if settings.swatch_enabled and settings.enable_filter_swatches and settings.swatch_option_name contains filter.label and filter.type == "list"
                assign filter_group_is_swatch = true
              else
                assign filter_group_is_swatch = false
              endif

              if section.settings.collapse_filters_method == 'all'
                assign collapse_filters = true
              elsif section.settings.collapse_filters_method == 'none'
                assign collapse_filters = false
              elsif section.settings.collapse_filters_method contains 'over-'
                assign limit = section.settings.collapse_filters_method | split: '-' | last | plus: 0
                if filter_values_to_show_count > limit
                  assign collapse_filters = true
                else
                  assign collapse_filters = false
                endif
              endif

              if filter.active_values.size > 0
                assign collapse_filters = false
              elsif filter.type == 'price_range'
                if filter.min_value.value != nil or filter.max_value.value != nil
                  assign collapse_filters = false
                endif
              endif
            -%}
            {%- if filter_values_to_show_count > 0 -%}
              <div class="filter-group{% if filter_group_is_swatch %} filter-group--swatch filter-group--layout-{{ settings.filter_swatch_layout }}{% elsif section.settings.filter_two_columns %}{% if filter.type == 'boolean' or filter.type == 'list'%} filter-group--layout-two-column{% endif %}{% endif %}">
                <a href="#" class="filter-group__heading{% if collapse_filters %} toggle-target-toggler--is-hidden{% endif %}" data-toggle-target=".filter-group--{{ forloop.index | plus: 1 }}">
                  <div class="filter-group__heading__text">{{ filter.label | escape }}</div>
                  <span class="filter-group__heading__indicator">{% render 'svg-chevron-down', stroke_width: 1.3 %}</span>
                </a>
                <div class="filter-group__items filter-group--{{ forloop.index | plus: 1 }} toggle-target{% if collapse_filters %} toggle-target--hidden{% endif %}">
                  <div class="toggle-target-container">
                    {% case filter.type %}
                    {% when 'boolean' or 'list' %}
                      {%- for value in filter.values -%}
                        {%- if section.settings.show_disabled_filters or value.count > 0 or value.active -%}
                          <label class="filter-group__item{% if value.active %} filter-group__item--active{% endif %}{% if value.count == 0 and value.active == false %} filter-group__item--disabled{% endif %}" data-tag="{{ value.label | handle }}"{% if filter_group_is_swatch %} data-swatch="{{ value.label | replace: '"', '' | downcase }}"{% endif %}>
                            <input class="filter-group__checkbox"
                              id="Filter-{{ value.param_name }}-{{ value.value | handle }}"
                              type="checkbox"
                              name="{{ value.param_name }}"
                              value="{{ value.value | escape }}"
                              {% if value.active %}checked{% endif %}
                              {% if value.count == 0 and value.active == false %}disabled{% endif %}>

                            <span class="filter-group__item__text">{{ value.label | escape }}</span>
                            {% if section.settings.show_filter_counts and filter_group_is_swatch == false %}
                              <span class="filter-group__item__count">{{ value.count }}</span>
                            {% endif %}
                          </label>
                        {%- endif -%}
                      {%- endfor -%}

                    {% when 'price_range' %}
                      {% render 'price-range', filter: filter %}

                    {% endcase %}
                  </div>
                </div>
              </div>
            {%- endif -%}
          {%- endif -%}
        {%- endfor -%}
      {%- endif -%}

      {% if section.settings.coll_show_sort %}
        <div class="filter-group mobile-only">
          <a href="#" class="filter-group__heading" data-toggle-target=".filter-group--sort">
            <div class="filter-group__heading__text">{{ 'collections.sorting.title' | t }}</div>
            <span class="filter-group__heading__indicator">{% render 'svg-chevron-down', stroke_width: 1.3 %}</span>
          </a>
          <div class="filter-group__items filter-group--sort toggle-target">
            <div class="toggle-target-container">
              {%- for option in filter_context.sort_options -%}
                {%- if option.value != 'manual' or section.settings.coll_show_feat or filter_context.default_sort_by == 'manual' -%}
                  <label class="filter-group__item{% if current_sort == option.value %} filter-group__item--active{% endif %}">
                    <input class="filter-group__checkbox"
                      id="Filter-Sort-{{ option.value }}"
                      type="radio"
                      name="sort_by"
                      value="{{ option.value }}"
                      {% if current_sort == option.value %}checked{% endif %}>

                    <span class="filter-group__item__text">{{ option.name | escape }}</span>
                  </label>
                {%- endif -%}
              {%- endfor -%}
            </div>
          </div>
        </div>
      {% endif %}

      <noscript>
        <button type="submit" class="btn">{{ 'collections.filtering.submit' | t }}</button>
      </noscript>
    </form>
  </div>
</div>