{%- assign language_selector = false -%}
{%- assign country_selector = false -%}

{%- if section.settings.show_country_selector and localization.available_countries.size > 1 -%}
  {%- assign country_selector = true -%}
{%- endif -%}

{%- if section.settings.show_language_selector and localization.available_languages.size > 1 -%}
  {%- assign language_selector = true -%}
{%- endif -%}

{%- assign form_id = 'localization_form_' | append: input_prefix -%}
{%- form 'localization', id: form_id, class: 'selectors-form' -%}
  {%- if country_selector -%}
    <div class="selectors-form__item">
      <h2 class="visually-hidden" id="country-heading-{{ input_prefix }}">
        {{ 'general.country.dropdown_label' | t }}
      </h2>

      <div class="disclosure" data-disclosure-country>
        <button type="button" class="disclosure__toggle" aria-expanded="false" aria-controls="country-list-{{ input_prefix }}" aria-describedby="country-heading-{{ input_prefix }}" data-disclosure-toggle>
          {% if abbreviate_country %}{{ localization.country.iso_code }}{% else %}{{ localization.country.name }}{% endif %} ({{ localization.country.currency.iso_code }}&nbsp;{{ localization.country.currency.symbol }})
          <span class="disclosure__toggle-arrow" role="presentation">{% render 'svg-chevron-down' %}</span>
        </button>
        <ul id="country-list-{{ input_prefix }}" class="disclosure-list" data-disclosure-list>
          {% for country in localization.available_countries %}
            <li class="disclosure-list__item{% if country.iso_code == localization.country.iso_code %} disclosure-list__item--current{% endif %}">
              <a class="disclosure-list__option disclosure-option-with-parts" href="#"{% if country.iso_code == localization.country.iso_code %} aria-current="true"{% endif %} data-value="{{ country.iso_code }}" data-disclosure-option>
                <span class="disclosure-option-with-parts__part">{{ country.name }}</span> <span class="disclosure-option-with-parts__part">({{ country.currency.iso_code }}&nbsp;{{ country.currency.symbol }})</span>
              </a>
            </li>
          {%- endfor -%}
        </ul>
        <input type="hidden" name="country_code" value="{{ localization.country.iso_code }}" data-disclosure-input/>
      </div>
    </div>
  {%- endif -%}

  {%- if language_selector -%}
    <div class="selectors-form__item">
      <h2 class="visually-hidden" id="lang-heading-{{ input_prefix }}">
        {{ 'general.language.dropdown_label' | t }}
      </h2>

      <div class="disclosure" data-disclosure-locale>
        <button type="button" class="disclosure__toggle" aria-expanded="false" aria-controls="lang-list-{{ input_prefix }}" aria-describedby="lang-heading-{{ input_prefix }}" data-disclosure-toggle>
          {%- liquid
            assign split_endonym = localization.language.endonym_name | split: ' '
            for str in split_endonym
              if forloop.first
                assign capitalized_endonym = str | capitalize
              else
                assign capitalized_endonym = capitalized_endonym | append: ' ' | append: str
              endif
            endfor
            echo capitalized_endonym
          -%}
          <span class="disclosure__toggle-arrow" role="presentation">{% render 'svg-chevron-down' %}</span>
        </button>
        <ul id="lang-list-{{ input_prefix }}" class="disclosure-list" data-disclosure-list>
          {% for language in localization.available_languages %}
            <li class="disclosure-list__item{% if language.iso_code == localization.language.iso_code %} disclosure-list__item--current{% endif %}">
              <a class="disclosure-list__option" href="#" lang="{{ language.iso_code }}"{% if language.iso_code == localization.language.iso_code %} aria-current="true"{% endif %} data-value="{{ language.iso_code }}" data-disclosure-option>
                {%- liquid
                  assign split_endonym = language.endonym_name | split: ' '
                  for str in split_endonym
                    if forloop.first
                      assign capitalized_endonym = str | capitalize
                    else
                      assign capitalized_endonym = capitalized_endonym | append: ' ' | append: str
                    endif
                  endfor
                  echo capitalized_endonym
                -%}
              </a>
            </li>
          {%- endfor -%}
        </ul>
        <input type="hidden" name="locale_code" value="{{ localization.language.iso_code }}" data-disclosure-input/>
      </div>
    </div>
  {%- endif -%}
{%- endform -%}
