<div class="collage container">
  <div class="collage-wrapper">
    {% for block in section.blocks %}
      <div class="collage-item {% if block.settings.large_image %}large-image{% endif %}">
        <div class="collage-img">
          <img src="{{block.settings.image | img_url: '300x'}}">
        </div>
        <div class="collage-text">
          <h2 class="collage-heading">{{ block.settings.heading }}</h2>
          <div class="collage-description">{{ block.settings.description }}</div>
          <div class="collage-button">
            <a class="btn btn--primary" href="{{block.settings.btn_link}}">{{ block.settings.btn_text }}</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% schema %}
  {
    "name": "collage",
    "settings": [],
    "blocks": [
      {
        "type": "collage",
        "name": "Collage",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "default": "text"
          },
          {
            "type": "richtext",
            "id": "description",
            "label": "Description",
            "default": "<p>text</p>"
          },
          {
            "type": "url",
            "id": "btn_link",
            "label": "Btn_link"
          }, {
            "type": "text",
            "id": "btn_text",
            "label": "Btn_text",
            "default": "text"
          }, {
            "type": "checkbox",
            "id": "large_image",
            "label": "Large Image",
            "default": false
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Collage"

      }
    ]
  }
{% endschema %}