<div class="{% if section.settings.use_alt_bg %}use-alt-bg fully-padded-row--medium{% else %}fully-spaced-row--medium{% endif %}">
  <div class="container">
    <div class="flexible-layout valign-middle">
      <div class="column column--half {% if section.settings.image_position == 'right' %}column--order-push-desktop{% endif %}">
        {% if section.settings.button_link != blank %}<a class="block-link" href="{{ section.settings.button_link }}">{% endif %}
          <div class="image-overlap" style="max-width: {{ section.settings.image_width }}px">
            <div class="image-overlap__image image-overlap__image-1">
              {%- if section.settings.image == blank -%}
                <div class="placeholder-image">{{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}</div>
              {%- else -%}
                {%- render 'responsive-image', image: section.settings.image, animate: true, animate_delay: "0.1s", animate_type: "cc-fade-in-up" -%}
              {%- endif -%}
            </div>

            {%- if section.settings.image == blank or section.settings.image_2 != blank -%}
              <div class="image-overlap__image image-overlap__image-2">
                {%- if section.settings.image_2 == blank -%}
                  <div class="placeholder-image">{{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}</div>
                {%- else -%}
                  {%- render 'responsive-image', image: section.settings.image_2, animate: true, animate_delay: "0.3s", animate_type: "cc-fade-in-up" -%}
                {%- endif -%}
              </div>
            {%- endif -%}
          </div>
        {% if section.settings.button_link != blank %}</a>{% endif %}
      </div>

      <div class="column column--half align-{{ section.settings.text_alignment }}" data-cc-animate>
        <div class="feature-text-paired">
          {%- if section.settings.subheading != blank -%}
            <div class="subheading subheading--over">{{ section.settings.subheading | escape }}</div>
          {%- endif -%}

          {% if section.settings.title != blank %}
            {% if section.settings.use_h1 %}
              <h1 class="majortitle in-content">{{ section.settings.title | escape }}</h1>
            {% else %}
              <h2 class="majortitle in-content h1-style">{{ section.settings.title | escape }}</h2>
            {% endif %}
          {% endif %}

          <div class="rte">{{ section.settings.text }}</div>

          {% if section.settings.button_label != blank %}
            <div class="lightly-spaced-row-above">
              <a class="{% if section.settings.button_style != 'link' %}btn btn--{{ section.settings.button_style }}{% else %}small-feature-link{% endif %}" href="{{ section.settings.button_link }}">{{ section.settings.button_label | escape }}</a>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>


{% schema %}
  {
    "name": "Image with text",
    "class": "section-image-with-text",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "image_picker",
        "id": "image_2",
        "label": "Image 2"
      },
      {
        "type": "range",
        "id": "image_width",
        "min": 150,
        "max": 700,
        "step": 10,
        "unit": "px",
        "label": "Image width",
        "default": 700
      },
      {
        "type": "text",
        "id": "subheading",
        "label": "Subheading"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Image with text"
      },
      {
        "type": "checkbox",
        "id": "use_h1",
        "label": "Set as primary page heading",
        "info": "Use <h1> tag. One per page recommended. [Read more](https://cleancanvas.co.uk/support/symmetry/section-h1-setting)",
        "default": false
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Text",
        "default": "<p>Pair text with an image to give customers insight into your brand. Tell a story, explain a product detail, or describe a new promotion.<\/p>"
      },
	    {
        "type": "text",
        "id": "button_label",
        "label": "Button",
        "default": "Read more"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Button link"
      },
      {
        "type": "select",
        "id": "button_style",
        "label": "Button style",
        "default": "primary",
        "options": [
          {
            "label": "Button - primary",
            "value": "primary"
          },
          {
            "label": "Button - secondary",
            "value": "secondary"
          },
          {
            "label": "Link",
            "value": "link"
          }
        ]
      },
      {
        "type": "select",
        "id": "image_position",
        "label": "Image alignment",
        "default": "left",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ]
      },
      {
        "type": "select",
        "id": "text_alignment",
        "label": "Text alignment",
        "default": "left",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "use_alt_bg",
        "label": "Use alternate section color",
        "default": false
      }
    ],
    "presets": [
      {
        "name": "Image with text",
        "settings": {}
      }
    ]
  }
{% endschema %}
