{% paginate search.results by section.settings.coll_num_per_page_int %}

<div data-section-id="{{ section.id }}" data-section-type="search-template" data-ajax-filtering="{{ section.settings.ajax_products }}" data-filter-section-id="{{ section.id }}" data-components="accordion,modal,price-range">
  <div class="page-header" data-cc-animate>
    <div class="container">
      <h1 class="visually-hidden">{{ 'general.search.title' | t }}</h1>

      <div class="main-search">
        <div class="main-search__container">
          <form class="main-search__form" action="{{ routes.search_url }}" method="get" autocomplete="off">
            <input type="hidden" name="type" value="{{ settings.search_type }}" />
            <input type="hidden" name="options[prefix]" value="last" />
            <button class="main-search__button button notabutton" type="submit" aria-label="{{ 'layout.header.search_submit' | t }}">{% render 'svg-search' %}</button>
            <div class="main-search__input-container">
              <input
                class="main-search__input"
                type="text"
                name="q"
                autocomplete="off"
                placeholder="{{ 'layout.search.placeholder' | t | escape }}"
                aria-label="{{ 'layout.search.title' | t | escape }}"
                value="{{ search.terms | escape }}" />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  {% if search.performed %}
    {%- liquid
      assign show_filters = section.settings.enable_filtering
      if search.filters == empty
        assign show_filters = false
      endif
    -%}
    <div class="container{% if settings.use_fullwidth_layout %} container--no-max{% endif %}">
      <div class="utility-bar" data-ajax-container data-ajax-scroll-to>
        <div class="utility-bar__left">
          {% if section.settings.coll_show_sort or show_filters %}
            <a href="#" class="toggle-btn utility-bar__item{% if section.settings.collapse_tag_sidebar_by_default == false %} toggle-btn--revealed-desktop{% endif %}{% if show_filters == false %} mobile-only{% endif %}" data-toggle-filters>
              <span class="button-icon">{% render 'svg-filter' %}</span>
              <span>{{ 'collections.filtering.filter' | t }}</span>
              {% liquid
                assign filter_count = 0
                for filter in search.filters
                  assign filter_count = filter_count | plus: filter.active_values.size
                  if filter.type == 'price_range'
                    if filter.min_value.value != nil or filter.max_value.value != nil
                      assign filter_count = filter_count | plus: 1
                    endif
                  endif
                endfor
              %}
              {% if filter_count > 0 %}
                <span class="toggle-btn__count">({{ filter_count }})</span>
              {% endif %}
              <span class="toggle-btn__chevron">{% render 'svg-chevron-right', stroke_width: 1.3 %}</span>
            </a>
          {% endif %}
        </div>

        <div class="utility-bar__centre">
          <div class="utility-bar__item">{{ 'general.search.results_with_count' | t: count: paginate.items }}</div>
        </div>

        <div class="utility-bar__right">
          {% if section.settings.coll_show_sort %}
            <span class="utility-bar__item desktop-only">
              <div class="link-dropdown link-dropdown--right-aligned">
                <div class="visually-hidden" id="sort-dropdown-heading">{{ 'collections.sorting.title' | t | escape }}</div>
                <button class="link-dropdown__button notabutton" aria-expanded="false" aria-controls="sort-dropdown-options" aria-describedby="sort-dropdown-heading">
                  <span class="link-dropdown__button-text">
                    {%- assign current_sort = search.sort_by | default: search.default_sort_by -%}
                    {%- for option in search.sort_options -%}
                      {%- if current_sort == option.value -%}
                        {{ option.name | escape }}
                        {%- break -%}
                      {%- endif -%}
                    {%- endfor -%}
                  </span>
                  <span class="link-dropdown__button-icon">{% render 'svg-chevron-down', stroke_width: 1.3 %}</span>
                </button>
                <div class="link-dropdown__options" id="sort-dropdown-options">
                  {%- for option in search.sort_options -%}
                    <a href="{{ request.path | sort_by: option.value | escape }}" class="link-dropdown__link{% if current_sort == option.value %} link-dropdown__link--active{% endif %}">{{ option.name | escape }}</a>
                  {%- endfor -%}
                </div>
              </div>
            </span>
          {% endif %}
          <span class="utility-bar__item mobile-only">
            <div class="layout-switchers">
              <a class="layout-switch layout-switch--two-columns{% if settings.prod_thumb_mob_per_row == '2' %} layout-switch--active{% endif %}" href="#">{%- render 'svg-grid', stroke_width: 1.3 -%}</a>
              <a class="layout-switch layout-switch--one-column{% if settings.prod_thumb_mob_per_row == '1' %} layout-switch--active{% endif %}" href="#">{%- render 'svg-box', stroke_width: 1.3 -%}</a>
            </div>
          </span>
        </div>
      </div>

      <div class="filter-container filter-container--side{% if section.settings.collapse_tag_sidebar_by_default == false %} filter-container--show-filters-desktop{% endif %}" data-ajax-container>
        {% liquid
          assign clear_url = search.terms | escape | prepend: '?q=' | prepend: routes.search_url
          if section.settings.coll_show_sort or show_filters
            render 'faceted-filters', filter_context: search, clear_url: clear_url, current_sort: current_sort
          endif
        %}

        <div class="filters-adjacent collection-listing">
          {% if search.results == empty %}
            <h5 class="align-centre fully-spaced-row" data-cc-animate>{{ 'general.search.no_results' | t: terms: search.terms }}</h5>
          {% else %}
            <div class="product-list product-list--per-row-{{ section.settings.grid }} product-list--per-row-mob-{{ settings.prod_thumb_mob_per_row }} product-list--image-shape-{{ settings.prod_thumb_shape }}">
              {%- liquid
                if settings.prod_thumb_shape == 'portrait-23'
                  assign chosen_product_aspect_ratio = 0.67
                elsif settings.prod_thumb_shape == 'portrait-45'
                  assign chosen_product_aspect_ratio = 0.8
                elsif settings.prod_thumb_shape == 'square'
                  assign chosen_product_aspect_ratio = 1.0
                elsif settings.prod_thumb_shape == 'landscape-54'
                  assign chosen_product_aspect_ratio = 1.25
                elsif settings.prod_thumb_shape == 'landscape-32'
                  assign chosen_product_aspect_ratio = 1.50
                elsif settings.prod_thumb_shape == 'tallest'
                  assign chosen_product_aspect_ratio = 99
                  for product in search.results
                    if product.object_type == 'product' and product.featured_media.preview_image.aspect_ratio < chosen_product_aspect_ratio
                      assign chosen_product_aspect_ratio = product.featured_media.preview_image.aspect_ratio
                    endif
                  endfor
                else
                  assign chosen_product_aspect_ratio = 0
                  for product in search.results
                    if product.object_type == 'product' and product.featured_media.preview_image.aspect_ratio > chosen_product_aspect_ratio
                      assign chosen_product_aspect_ratio = product.featured_media.preview_image.aspect_ratio
                    endif
                  endfor
                endif

                if settings.coll_grid_image_shape == 'portrait-23'
                  assign chosen_collection_aspect_ratio = 0.67
                elsif settings.coll_grid_image_shape == 'portrait-45'
                  assign chosen_collection_aspect_ratio = 0.8
                elsif settings.coll_grid_image_shape == 'square'
                  assign chosen_collection_aspect_ratio = 1.0
                elsif settings.coll_grid_image_shape == 'landscape-54'
                  assign chosen_collection_aspect_ratio = 1.25
                elsif settings.coll_grid_image_shape == 'landscape-32'
                  assign chosen_collection_aspect_ratio = 1.50
                elsif settings.coll_grid_image_shape == 'tallest'
                  assign chosen_collection_aspect_ratio = 99
                  for collection in search.results
                    if collection.object_type == 'collection'
                      if collection.featured_image.aspect_ratio < chosen_collection_aspect_ratio
                        assign chosen_collection_aspect_ratio = collection.featured_image.aspect_ratio
                      endif
                    endif
                  endfor
                else
                  assign chosen_collection_aspect_ratio = 0
                  for collection in search.results
                    if collection.object_type == 'collection'
                      if collection.featured_image.aspect_ratio > chosen_collection_aspect_ratio
                        assign chosen_collection_aspect_ratio = collection.featured_image.aspect_ratio
                      endif
                    endif
                  endfor
                endif
              -%}
              {% for item in search.results %}
                {% if item.object_type == 'product' %}
                  {% render 'product-block', product: item, custom_aspect_ratio: chosen_product_aspect_ratio, animate: true %}
                {% elsif item.object_type == 'collection' %}
                  {% render 'collection-block', collection: item, custom_aspect_ratio: chosen_collection_aspect_ratio, animate: true %}
                {% else %}
                  <div class="product-block page-block" data-cc-animate>
                    <div class="block-inner">
                      {% if item.object_type == 'article' and item.image %}
                        <div class="article-image">
                          <a href="{{ item.url }}">
                            {%- render 'responsive-image', image: item.image -%}
                          </a>
                        </div>
                      {% endif %}
                      <div class="text-cont">
                        <h6 class="page-block__title"><a href="{{ item.url }}">{{ item.title }}</a></h6>
                        {% unless item.object_type == 'article' and item.image %}
                          <p>{{ item.content | strip_html | truncatewords: 20 }}</p>
                        {% endunless %}
                        <a href="{{ item.url }}" class="more">
                          <span class="beside-svg underline">{{ 'general.search.continue_reading' | t }}</span>
                          <span class="icon--small icon-natcol ltr-icon">{% render 'svg-chevron-right' %}</span>
                        </a>
                      </div>
                    </div>
                  </div>
                {% endif %}
              {% endfor %}
            </div>
          {% endif %}
        </div>
      </div>
    </div>

    <div class="container pagination-row" data-cc-animate data-ajax-container>{% render 'pagination-control', paginate: paginate %}</div>
  {% endif %}
</div>

{% endpaginate %}

{% schema %}
  {
    "name": "Search results",
    "class": "section-search-template page-section-spacing",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_vendor",
        "label": "Show product vendors",
        "default": false
      },
      {
        "type": "range",
        "id": "coll_num_per_page_int",
        "min": 16,
        "max": 50,
        "step": 2,
        "label": "Number of products to show per page",
        "default": 24
      },
      {
        "type": "range",
        "id": "grid",
        "label": "Products per row",
        "min": 2,
        "max": 5,
        "step": 1,
        "default": 4
      },
      {
        "type": "header",
        "content": "Filters"
      },
      {
        "type": "checkbox",
        "id": "enable_filtering",
        "label": "Enable filtering",
        "info": "[Customize filters](\/admin\/menus)",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "collapse_tag_sidebar_by_default",
        "label": "Collapse filter column",
        "default": false
      },
      {
        "type": "select",
        "id": "collapse_filters_method",
        "label": "Filter row collapse",
        "default": "over-12",
        "options": [
          {
            "value": "none",
            "label": "None"
          },
          {
            "value": "over-6",
            "label": "Over 6 items"
          },
          {
            "value": "over-12",
            "label": "Over 12 items"
          },
          {
            "value": "over-18",
            "label": "Over 18 items"
          },
          {
            "value": "all",
            "label": "All rows"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "show_filter_counts",
        "label": "Show filter counts",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "show_disabled_filters",
        "label": "Show filters with zero results",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "ajax_products",
        "label": "Filter and sort collections without loading a new page",
        "default": true,
        "info": "Some apps require this to be disabled"
      },
      {
        "type": "checkbox",
        "id": "auto_apply_hide_unavailable",
        "label": "On selecting a filter, automatically apply 'Hide out of stock'",
        "default": false,
        "info": "Requires Availability filter to be enabled"
      },
      {
        "type": "checkbox",
        "id": "enable_sticky_filter",
        "label": "Enable stick on scroll",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "filter_two_columns",
        "label": "Two column filter values",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "coll_show_sort",
        "label": "Show sorting dropdown",
        "default": true
      }
    ]
  }
{% endschema %}
